{% extends 'base.html.twig' %}

{% block title %}Dashboard Gestor{% endblock %}

{% block body %}
    <div id="page-top">

        <!-- Page Wrapper -->
        <div id="wrapper">

            <!-- Sidebar -->
            <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

                <!-- Sidebar - Brand -->
                <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                    <div class="sidebar-brand-icon rotate-n-15">
                        <i class="fas fa-laugh-wink"></i>
                    </div>
                    <div class="sidebar-brand-text mx-3">Gestor</div>
                </a>

                <!-- Divider -->
                <hr class="sidebar-divider my-0">

                <!-- Nav Item - Dashboard -->
                <li class="nav-item">
                    <a class="nav-link">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span>Dashboard</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">
                        <i class="fas fa-file"></i>
                        <span>Reportes</span></a>
                </li>
            </ul>
            <!-- End of Sidebar -->

            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">

                <!-- Main Content -->
                <div id="content">

                    <!-- Topbar -->
                    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                        <!-- Sidebar Toggle (Topbar) -->
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>
                        <!-- Topbar Navbar -->
                        <ul class="navbar-nav ml-auto">

                            <div class="topbar-divider d-none d-sm-block"></div>

                            <!-- Nav Item - User Information -->
                            <li class="nav-item dropdown no-arrow">
                                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">Douglas McGee</span>
                                    <img class="img-profile rounded-circle"
                                         src="{{ asset('img/undraw_profile.svg') }}">
                                </a>
                                <!-- Dropdown - User Information -->
                                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                     aria-labelledby="userDropdown">
                                    <a class="dropdown-item" href="#">
                                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Profile
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Settings
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Activity Log
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Logout
                                    </a>
                                </div>
                            </li>

                        </ul>

                    </nav>
                    <!-- End of Topbar -->

                    <!-- Begin Page Content -->
                    <div class="container-fluid">

                        <!-- Page Heading -->
                        <h1 class="h3 mb-4 text-gray-800">Edita el producto {{ producto.nombre }}</h1>
                        <div class="col-md-12">
                            <form action="{{ path('edit_product') }}" method="post"
                                  onsubmit="return validacionProductoEditar()">
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <label for="name">Nombre</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="inputGroupPrepend1"><i
                                                            class="fas fa-building"></i></span>
                                            </div>
                                            <input disabled value="{{ producto.nombre }}"
                                                   type="text" class="form-control"
                                                   id="name" name="name"
                                                   placeholder="Nombre del producto" required/>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <label for="price">Precio</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="inputGroupPrepend2"><i
                                                            class="fas fa-building"></i></span>
                                            </div>
                                            <input disabled value="{{ producto.precio }}"
                                                   type="number" class="form-control"
                                                   id="price" name="price"
                                                   placeholder="Precio" required/>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-12">
                                        <label for="description">Descripción</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="inputGroupPrepend3"><i
                                                            class="fas fa-building"></i></span>
                                            </div>
                                            <textarea disabled
                                                      type="text" class="form-control"
                                                      id="description" name="description"
                                                      placeholder="Nombre del producto"
                                                      required>{{ producto.descripcion }}</textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-4">
                                        <label for="category">Categoría</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="inputGroupPrepend4"><i
                                                            class="fas fa-building"></i></span>
                                            </div>
                                            <input disabled
                                                   value="{{ producto.getCategoriaIdcategoria.getDescripcion }}"
                                                   type="text" class="form-control"
                                                   id="category" name="category"
                                                   required>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="sucursal">Sucursal</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="inputGroupPrepend5"><i
                                                            class="fas fa-building"></i></span>
                                            </div>
                                            <input disabled value="{{ producto.getSucursalIdsucursal.getDescripcion }}"
                                                   type="text" class="form-control"
                                                   id="sucursal" name="sucursal"
                                                   required>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="date">Fecha de compra</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="inputGroupPrepend6"><i
                                                            class="fas fa-building"></i></span>
                                            </div>
                                            <input disabled value="{{ producto.fecha | date('d/m/y') }}"
                                                   type="text" class="form-control"
                                                   id="date" name="date"
                                                   required
                                            />
                                            <input type="hidden" name="id" id="id" value="{{ producto.idproducto }}">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-4">
                                        <label for="idestado">Estado</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="inputGroupPrepend4"><i
                                                            class="fas fa-building"></i></span>
                                            </div>
                                            <select
                                                    type="text" class="form-control"
                                                    id="idestado" name="idestado"
                                                    required>
                                                {% for estado in estados %}
                                                    <option {% if estado.idestados==producto.getEstadoIdestados.getIdestados %} selected="selected" {% endif %}
                                                            value="{{ estado.idestados }}">{{ estado.descripcion }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label for="comentario">Comentario</label>
                                        <textarea class="form-control" id="comentario" required
                                                  name="comentario">{% if producto.comentario %}{{ producto.comentario }}{% endif %}</textarea>
                                    </div>
                                </div>
                                <div class="form-row" style="margin-top: 20px;">
                                    <button type="submit" class="btn btn-primary offset-md-4 col-md-4">Guardar
                                    </button>
                                </div>
                            </form>
                        </div>

                    </div>
                    <!-- /.container-fluid -->

                </div>
                <!-- End of Main Content -->

                <!-- Footer -->
                <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>DANIEL RODRIGUEZ HERRERA</span>
                        </div>
                    </div>
                </footer>
                <!-- End of Footer -->

            </div>
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
